/* Adding color to the background for the whole layout */

html {
  background-color: #1d1d1d;
  
}

/* Adding color for the page content */

.site-content{
  background-color: #242424;
}

/* Setting the whole site to flex-column */

.site-wrapper{
  display: flex;
  flex-flow: column wrap;
  margin: 2rem;
}

.site-header {
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.site-navigation {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  padding: 2rem;
}

.nav-button{
  background-color: #B21C1A;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}

/* Site content */
.site-content {
  text-align: center;
  padding: 2rem;
}

.page-text {
  background: #1d1d1d;
  padding: 1rem;
  border-radius: 5px;
  height: fit-content;
}

/* Setting the footer to flex-row and justify content*/

.site-footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
  padding: 2rem;
}

.footer-container > p {
  font-size: 20px;
}


.footer-ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.footer-ul li {
  font-size: 25px;
  margin: 1rem;
}

/* Sizing the footer containers so they fit in a row */

.footer-container{
  flex: 0 0 50%;
}

.fa-facebook-square {
  color: #4267B2;
}

.fa-linkedin {
  color: #2867B2;
}

.page-content{
  display: flex;
  flex-flow: row;
  padding: 2rem;
  justify-content: space-around;
}

.page-video{
flex: 0 0 40%;
}

.page-text{
flex: 0 0 40%;
text-align: left;
}

.page-source{
  padding: 1rem 0;
}

/* Kamen's Page CSS */

.ky-page-main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
}

.ky-main-text {
  flex: 0 0 40%;
  text-align: left;
  background: #1d1d1d;
  padding: 1rem;
  border-radius: 5px;
  height: fit-content;
}

.ky-main-image {
  flex: 0 0 40%
}

.ky-main-image > img {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

/* Pesho's page CSS */
.pg-page-main {
  padding: 2rem;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.pg-page-text {
  flex: 0 0 40%;
  padding: 1rem;
  border-radius: 5px;
}
.pg-page-image {
  flex: 0 0 40%;
}

.pg-page-image > img{
  width: 80%;
  height: auto;
  border-radius: 5px;
}

/* About page content */

.about-content {
  padding: 2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.about-text {
  flex: 0 0 40%;
  text-align: left;
  background: #1d1d1d;
  padding: 1rem;
  border-radius: 5px;
  height: fit-content;
}

.about-image {
  flex: 0 0 40%;
}

.about-image > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}