@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  color: #F3D011;
}

a {
  color: white;
  text-decoration: none;
}

.site-header {
  font-weight: bold;
}

.page-title {
  font-size: 50px;
}

.site-navigation {
  list-style-type: none;
}
.nav-button {
  background-color: #b21c1a;
  border-radius: 5px;
}


.site-content{
  text-align: center;
}

.site-footer{
  text-align: center;
}

.fa-facebook{
  color: #4267B2;
}

.footer-container > ul{
  list-style-type: none;
}

.source{
  background-color: #B21C1A;
}

/* Pesho's page CSS */
.pg-page-main{
  text-align: left;
}

.pg-page-text{
  background-color: #1D1D1D;
  height: fit-content;
}