<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <script src="https://kit.fontawesome.com/597dde3a29.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  <title>{{ site.title }}</title>
</head>

<body>

  <div class="site-wrapper">
    <div class="site-header">
      <h1 class="page-title">{{ page.title }}</h1>
      <ul class="site-navigation">
        <li><a href="{{site.baseurl}}/" class="nav-button">Home</a></li>
        <li><a href="{{site.baseurl}}/page-one" class="nav-button">Pesho's Page</a></li>
        <li><a href="{{site.baseurl}}/page-two" class="nav-button">Kamen's Page</a></li>
        <li><a href="{{site.baseurl}}/about" class="nav-button">About</a></li>
      </ul>
    </div>
    <div class="site-content">
      {{content}}
    </div>
    <div class="site-footer">
      <div class="footer-container pesho-data">
        <p>Pesho's Contacts</p>
        <ul class="footer-ul">
          <li>
            <a href=" {{site.github_url_pesho}} " target="_blank"> <i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="{{site.facebook_url_pesho}}" target="_blank"> <i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="{{site.linkedin_url_pesho}}" target="blank"> <i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="{{site.softuni_url_pesho}}" target="blank"> <img src="{{site.baseurl}}/images/6661899.png" alt="" width="40px"
                height="40px"></a>
          </li>
        </ul>
      </div>
      <div class="footer-container kamen-data">
        <p>Kamen's Contacts</p>
        <ul class="footer-ul">
          <li>
            <a href=" {{site.github_url_kamen}} " target="_blank"> <i class="fab fa-github"></i></a>
          </li>
          <li>
            <a href="{{site.facebook_url_kamen}}" target="_blank"> <i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="{{site.linkedin_url_kamen}}" target="blank"> <i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="{{site.softuni_url_kamen}}" target="blank"> <img src="{{site.baseurl}}/images/6661899.png" alt="" width="40px"
                height="40px"></a>
          </li>

        </ul>
      </div>
    </div>
  </div>
  </div>

</body>

</html>

<!-- <div class="site-wrapper">
    <header class="site-header">
      <h1> {{ site.title }}</h1>
    </header>
    <main class="site-main">
      {% if page.title %}
      <header>
        <h3>{{page.title}}</h3>
      </header>
      {% endif %}
      {{ content }}
    </main>
    <footer class="site-footer">
      <p>Test paragraph from the website's footer, adding content from the config file here -> <a
          href="/">{{site.facebook_username}}</a>
      </p>
    </footer>
  </div> -->